torch
transformers
safetensors
tokenizers
openai==0.28.1
tqdm>=4.58.0
tiktoken>=0.5.0
datasets>=2.16.1
accelerate
coloredlogs
nltk
sacrebleu
rouge_score
vllm
flash-attn
langcodes
language_data
anthropic
google-api-python-client
immutabledict
langdetect
