name: Run isort

on:
  pull_request:
    types: [opened, reopened, edited]
    paths:
        - 'utilization/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: isort/isort-action@v1
        with:
            sort-paths: "utilization"
            requirements-files: "requirements.txt requirements-openai.txt"
            configuration: "--check-only --diff --settings-path .isort.cfg"